<!DOCTYPE html>
<html>
<head>
<style>

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

</style>
</head>

<body>

<h1>Citi Bike Trips Data</h1>
<p><a href="/tripsData/month/1">View Stations Data Jan</a></p>
<p><a href="/tripsData/month/2">View Stations Data Feb</a></p>
<p><a href="/tripsData/month/3">View Stations Data March</a></p>
<p><a href="/tripsData/month/4">View Stations Data April</a></p>
<p><a href="/tripsData/month/5">View Stations Data May</a></p>
<p><a href="/tripsData/month/6">View Stations Data June</a></p>
<p><a href="/tripsData/month/7">View Stations Data July</a></p>
<p><a href="/tripsData/month/8">View Stations Data August</a></p>

<form method="POST" action="/addTrips"><p>New trip data:
  <p>starttime: <input type="datetime-local" name="starttime"></p>
  <p>stoptime: <input type="datetime-local" name="stoptime"></p>
  <p>start_station_sid: <input type="number" name="start_station_sid", step = 1></p>
  <p>stop_station_sid: <input type="number" name="stop_station_sid", step = 1></p>
  <p>bike_id: <input type="number" name="bike_id", step = 1></p>
  <p>user_id: <input type="number" name="user_id", step = 1></p>
  <input type="submit" value="Add"></p>
</form>

</body>
<html>